<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login_style.css' />
  </head>
  <body>
    <form method="post" action="/result">
    	<h1><%= name %></h1>
	    <h2>Do you want to study in UCLA one of the best university in the world !! Let's do it</h2>
	    <h2>key in your information and we will help you knowing the chance you can get in UCLA</h2>
      <p>
        GRE Score : <input type="text" id="GRE_Score" name="GRE_Score" /><br/>
        TOEFL Score : <input type="text" id="TOEFL_Score" name="TOEFL_Score" /><br/>
        University Rating : <input type="text" id="University_Rating" name="University_Rating" /><br/>
        SOP : <input type="text" id="SOP" name="SOP" /><br/>
        LOR : <input type="text" id="LOR" name="LOR" /><br/>
        CGPA : <input type="text" id="CGPA" name="CGPA" /><br/>
        Research : <input type="text" id="Research" name="Research" /><br/>
      </p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>

